<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <style>
       body {
                background-image:url("https://www.ehstoday.com/sites/ehstoday.com/files/styles/article_featured_standard/public/uploads/2014/12/globalemissionspromo.gif?itok=OI0pXz8e");
                background-size:cover;
                font-family:'Open Sans';
                font-size:18px;}


    </style>
</head>
<body>
<button type="button">About</button>
<button type="button">Greenhouse gases</button>
<button type="button">Data</button>

</body>
</html>